<!-- cdn content delivery networking -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Title of my page</title>
  </head>
  <body>
    <!-- <img src="static/1.jpg" />  when we have same directory-->

    <!-- using url_for static key -->
    <img src="{{ url_for('static', filename='1.jpg') }}" />
    <!-- when we have different directory -->

    <p>
      In this Demo learn to create the flask app using the templates, and used
      the render templates function from the flask module
    </p>
    <p>hope you like this app</p>
  </body>
</html>
